body {
    max-width: 1310px;
    margin: 0 auto;
}

/* STYLING END NAVBAR START */

.navbar {
    background-color: red;
}

.nav-date {
    display: none;
}

.nav-logo-img-big {
    display: none;
}

.nav-date {
    color: #fff;
    margin-top: 3%;
}

nav ul li a{
    color: white !important;
}

nav ul li a:hover {
    opacity: .8 !important;
}

nav button {
    color: white !important;
    border: none !important;
} 

.fa-icon {
    color: white;
}

.btn-red {
    color: red !important;
    background: white !important;
    text-transform: uppercase;
    font-weight: bold;
}

.btn-red:hover {
    background: white !important;
}

.btn-danger {
    background: none;
    text-transform: uppercase;
    font-weight: bold;
}

.btn-danger:hover {
    background: none !important;
}

.show {
    display: none;
}

/* STYLING THE NAVBAR END */

/* STYLING THE MAIN CONTENT START */

.block-title {
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 1rem;
}

.img-title {
    margin-top: .5rem;
    font-weight: bold;
}

.img-summary {
    font-size: 13px;
    /* border-bottom: 1px solid black; */
}

.related {
    font-weight: bold;
    border-top: 1px solid #d9d9d9;
    padding: 1rem 0 2rem;
}

.top-story {
    order: 0;
}

.top-story-img {
    width: 100%;
    max-width: 100%;
}



.featured-stories {
    background-color: orange;
    /* height: 50vh; */
    order: 1;
}

.opinion {
    order: 3;
}

.opinions {
    background-color: beige;

}

.latest-news {
    background-color: lightgreen;
}

.side-img {
    background-color: lightsalmon;
}

.in-magazine {
    background-color: gray;
}

.editors-pick {
    background-color: brown;
}

.slide-shows {
    background-color: pink;
}




.subscribe {

}

.subscribe-div {
    background-color: gray;
}

.newsletter-div {
    background-color: antiquewhite;
}

.footer {
    background-color: royalblue;
}

/* STYLING THE MAIN CONTENT END */







/* MEDIA QUERIES */

@media only screen and (min-width: 768px) {
    .top-story {
        order: 1;
    }
    
    .featured-stories {
        order: 0;
    }
}

@media only screen and (min-width: 990px) {
    

    .nav-date {
        display: block;
    }

    .nav-logo {
        width: 0;
        margin: 0 auto;
    }
    
    .nav-logo-img {
        display: none;
    }

    .nav-logo-img-big {
        display: block;
    }

    .hide {
        display: none;
    }

    /* styling the bottom navbar */

    .show {
        display: block;
    } 

    .lg-nav {
        background-color: #fff;
        padding: 1rem 0;
        /* padding-left: .2rem; */
        border-bottom: 1px solid #f4f5f6;
        position: relative;
    }

    .lg-nav::before {
        position: absolute;
        top: 0;
        right: 0;
        content: "";
        display: block;
        width: 5rem;
        background-color: #f72210;
        border-left: 12px solid white;
        border-top: 13px solid #f72210;
    }

    .lg-nav-li {
        display: inline-block;
        margin-right: 1rem;
        padding-right: 1rem;
        border-right: 1px solid #d9d9d9;
        cursor: pointer;
    }

    
    .lg-nav-link:link,
    .lg-nav-link:visited {
        text-decoration: none;
        color: #000;
        font-weight: bold;
        font-size: 17px;
    }
    
    .lg-nav-link:hover {
        color: red;
    }

    .lg-nav-search {
        display: inline-block;
        width: 9%;
        position: relative;
    }

    .lg-nav-input {
        width: 100%;
        border: none;
        font-weight: 100;
        font-size: 18px;

    }

    .lg-nav-search-icon {
        background-color: none;
        border: none;
        position: absolute;
        top: .2rem;
        right: 1rem;
        padding: 0;
    }

    .fa-icon-2 {
        font-size: 16px;
    }
}

@media only screen and (min-width: 1200px) {
    .lg-nav {
        padding-left: 2rem;
    }

    .lg-nav-search-icon {
        right: 2rem;
    }

    .lg-nav::before {
        width: 10rem;
    }

}